#eyedrop-container {
  z-index: 2;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background:white;
/*
	filter:alpha(opacity=80);
	opacity:0.8;
	-moz-opacity:	0.8;
*/
  display:none;
}

#eyedrop-layers, #eyedrop-tabs {
  position: absolute;
}

#eyedrop-parameters, #eyedrop-toolbar{
  text-align: left;
  width: auto;
  position: absolute;
  background-color: #EF9EF9;
  }

#eyedrop-parameters input {
  width:100px;
}

#eyedrop-editor {
}

.eye-mask {
  position:absolute;
  background:lightgreen;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity:	0.7;
	z-index:4;
	font-size:0;
  top: 0px; left: 0px;
  width: 50px; height: 50px;
}

#eye-crop {
  z-index:5;
  position:absolute;
  display:inline;
  }

#eye-image {
  vertical-align:bottom;
  position:absolute;
  z-index:2;
}

#eye-image-orig {
	filter:alpha(opacity=0);
	opacity:0;
	-moz-opacity:	0;
  z-index:-1;
}

.eye-handle {
  width:8px;
  height:8px;
  position:absolute;
  left:0px; top:0px;
  }

/*
 * Values I'll probably not set, or set late in jquery.
 * Or more appropriate for theming.
 */

#eyedrop-parameters {  top: 60px;  left: 30px;  border: 2px solid blue; }

#eye-ml {
  background: blue url(testing/W.png) no-repeat;
  }
#eye-mt {
  background: green url(testing/N.png) no-repeat;
}
#eye-mb {
  background: yellow url(testing/S.png) no-repeat;
  }
#eye-mr {
  background: red url(testing/E.png) no-repeat;
  }

#eyedrop-toolbar {
  top: 30px;
  left: 90px;
  border: 2px solid red;
}

#eyedrop-layers {
  border: 2px solid green;
  left: 270px;
  top: 80px;
}

#eyedrop-editor {
  border: 2px solid orange;
}

#eyedrop-tabs {
  border: 2px solid gray;
  left:0px;
  top:0px;
  width:0;
  height:0px;
}

#eye-image {
  width: 500px;
}

#eye-crop {
  /*
  background-color:gray;
  */
}
